.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.leftSide {
  display: flex;
  margin-right: 8px;
  padding-top: 8px;
  min-width: 225px;
}

.image {
  display: flex;
  flex: 1;
  object-fit: cover;
}

.rightSide {
  display: flex;
  padding: 8px;
}

.text {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    padding-right: 8px;
  }

  .leftSide {
    margin-right: 16px;
    padding: 0;
  }

  .rightSide {
    display: flex;
  }

  .text {
    margin-bottom: 16px;
  }
}
