.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 16px 0 0 16px;
}

.text {
  margin: 16px;
}

@media (min-width: 768px) {
  .title {
    margin: 32px 0 0 32px;
  }

  .text {
    margin: 16px 32px;
  }
}
