.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 16px;

  background-color: var(--secondary-bg-color);
  border: 1px solid var(--tetriary-bg-color);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s all;
}

.button,
.buttonIcon {
  margin: 0;
}

.wrapper:hover {
  background-color: var(--primary-bg-color);
}
