.wrapper {
  display: flex;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid var(--tetriary-bg-color);
  cursor: pointer;
  transition: 0.2s all;
}

.wrapper:hover {
  background-color: var(--primary-bg-color);
}

@media (min-width: 768px) {
  .wrapper {
    padding: 16px;
    font-size: large;
  }
}
