.button {
  display: flex;
  justify-content: center;
  margin: 0;
}

.row {
  display: flex;
  justify-content: center;
}

.link {
  margin: 0;
  margin-left: 4px;
  padding: 0;
  border: none;
}

.error {
  display: flex;
  height: 10px;
  color: var(--error-color);
}

@media (min-width: 768px) {
  .link {
    margin-left: 8px;
  }

  .error {
    height: 18px;
  }
}
