.wrapper {
  display: flex;
  align-items: center;
  padding-right: 8px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.leftSide {
  margin-right: 16px;
}

.rightSide {
  display: flex;
}
