.form {
  display: flex;
  position: relative;
  width: 100%;
  margin-right: 8px;
}

.input {
  display: flex;
  width: 100%;
  padding: 5px 8px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  color: var(--primary-color);
  background-color: transparent;
  transition:
    0.3s background-color,
    0.3s color;
}

.input:focus {
  background-color: var(--primary-color);
  color: var(--secondary-bg-color);
}

.input::placeholder {
  color: var(--primary-color);
}
.input:focus::placeholder {
  color: var(--secondary-bg-color);
}

.button {
  margin: 0;
  margin-left: 4px;
  padding: 4px;
}

.icon {
  margin: 0;
  width: 12px;
}

@media (min-width: 768px) {
  .form {
    max-width: 480px;
    margin-right: 16px;
  }

  .input {
    padding: 10px 16px;
    font-size: 20px;
  }

  .button {
    margin-left: 8px;
    padding: 8px;
  }

  .icon {
    width: auto;
  }
}
