@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-bg-color: #292643;
  --secondary-bg-color: #44426e;
  --tetriary-bg-color: #776483;
  --primary-color: #bbaab8;
  --secondary-color: #292643;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}
