.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.icon {
  width: 14px;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .icon {
    width: auto;
  }
}
